<div class="view view-hidden" id="view-home">
    <div class="wrapper invisible">
        <div class="board merge clearfix">
            <div class="img pull-left card card1" data-bg-src="images/region1.jpg" data-region="1"></div>
            <div class="img pull-left card card2" data-bg-src="images/region2.jpg" data-region="2"></div>
            <div class="img pull-left card card3" data-bg-src="images/region3.jpg" data-region="3"></div>
            <div class="img pull-left card card4" data-bg-src="images/region4.jpg" data-region="4"></div>
            <div class="img pull-left card card5" data-bg-src="images/region5.jpg" data-region="5"></div>
            <div class="guideline"></div>
        </div>
        <div class="map img" data-bg-src="images/map-china.png">
            <div class="img poi-layer invisible" data-bg-src="images/map-china-1.png" data-region="1"></div>
            <div class="img poi-layer invisible" data-bg-src="images/map-china-2.png" data-region="2"></div>
            <div class="img poi-layer invisible" data-bg-src="images/map-china-3.png" data-region="3"></div>
            <div class="img poi-layer invisible" data-bg-src="images/map-china-4.png" data-region="4"></div>
            <div class="img poi-layer invisible" data-bg-src="images/map-china-5.png" data-region="5"></div>
        </div>
        <button class="btn btn-block btn-lg btn-primary btn-go">开始游戏</button>
    </div>
    <div class="hero-layer img" data-bg-src="images/hero.png">
        <div class="hero-layer-text img" data-bg-src="images/hero-text.png"></div>
    </div>
</div>
