<div class="view view-hidden" id="view-instruction">
    <h3><strong>游戏细则</strong></h3>
    <p><strong>活动时间</strong> : 2014年7月17日-8月7日</p>
    <p>本游戏每天限玩五次</p>
    <p>先阅读理解一段文字，再回答共计5题，以回答速度和准确率积分</p>
    <p>同一套题多次游戏，以首次得分计算</p>
    <p>不同套题目得分累计计算</p>
    <p>每周三24:00截止积分，周四公布排名，公布后当天10:00积分清零，重新积分</p>
    <p><strong>奖　励</strong> : 每周四公布排名</p>
    <p><strong>大　奖</strong> : 排名第1可获得价值千元的免费入住券</p>
    <p><strong>幸运奖</strong> : 每周随机抽取5名幸运玩家，获得 200 Starpoints 积分</p>
    <p><strong>参与奖</strong> : 任意参与游戏的玩家，可获得50元电子券</p>
</div>
