<div class="view view-hidden" id="view-instruction">
    <div class="section-title">游戏细则</div>
    
    <div class="subtitle"><span class="icon watch"></span>活动时间</div>
    <div class="padding-text">2015年1月8日 - 2015年1月21日 (共两周)</div>
    
    <div class="subtitle"><span class="icon paper"></span>活动规则</div>
    <div class="padding-text">
        <ul>
            <li><span class="o">一、</span>游戏顺序</li>
            <li class="steps-guide clearfix">
                <p class="pull-left"><span class="oc">1</span>选择感兴趣的地区</p>
                <p class="pull-left"><span class="oc">2</span>选择心仪的旅行地</p>
                <p class="pull-left"><span class="oc">3</span>阅读旅行地的介绍</p>
                <p class="pull-left"><span class="oc">4</span>回答五道相关问题</p>
            </li>
            <li><span class="o">二、</span>计分规则：以答题准确率和速度计算得分</li>
            <li><span class="o">三、</span>每个账号每天不限游戏次数，可任意阅读旅行地文字，但仅累计前5次不同旅行地答题得分</li>
            <li><span class="o">四、</span>同一旅行地可多次阅读介绍，但每个游戏周期内仅可回答一次问题并计算得分</li>
            <li><span class="o">五、</span>每个游戏周期内，累计总积分将显示在“排行榜”内</li>
            <li><span class="o">六、</span>本次活动仅支持中国大陆地区手机号注册并参与</li>
        </ul>
    </div>
    
    <div class="double-line-spliter"></div>
    
    <div class="section-title">游戏奖励<span class="small">（每周四公布排名情况）</span></div>
    
    <p>每周三24:00截止计分，进行排行榜公示及抽奖，周四10:00清零排行榜开始新游戏周期</p>
    
    <div class="subtitle"><span class="icon diamond"></span>特等奖</div>
    <div class="padding-text">每周1名，“排行榜”总分第一名将获得<mark>SPG俱乐部14,000点奖励积分（可用于大中华区任一福朋喜来登酒店免费宿2晚）</mark></div>
    
    <div class="subtitle"><span class="icon star"></span>幸运奖</div>
    <div class="padding-text">每周随机抽取10名幸运玩家，每人获得<mark>福朋自游派定制版趣味多米诺骨牌1份</mark></div>
    
    <div class="banner img" data-bg-src="images/fp-banner-alt.png"></div>
</div>
