<div class="view view-hidden" id="view-login">
    <div class="wrapper">
        <form>
            <div class="form-group">
                <input class="form-control input-lg" type="text" name="username" placeholder="邮箱或者手机号码">
            </div>
            <div class="form-group">
                <input class="form-control input-lg" type="password" name="password" placeholder="密码">
            </div>
        </form>
    </div>
    <footer class="footer-navbar">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-return">返回</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info btn-lg btn-block btn-signup">注册</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-lg btn-block btn-signin">登录</button>
            </div>
        </div>
    </footer>
</div>
