<div class="view view-hidden" id="view-question">
    <form>
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="故事标题">
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">http://wedfairy.com/story/</span>
                <input type="text" class="form-control" name="name" placeholder="字母或数字" onkeyup="this.value=this.value.toLowerCase();">
            </div>
        </div>
        <div class="form-group">
            <select class="form-control" name="schema">
                <option value="1">一见钟情</option>
                <option value="1">一见钟情</option>
                <option value="1">一见钟情</option>
            </select>
        </div>
    </form>
</div>
