
// Headers and Footers

body > header, body > .header-navbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #05374e;
    border-bottom: 5px solid $brand-primary;
    padding-left: 80px;
    > .logo {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 60px;
        height: 40px;
    }
    > .nav {
        height: 40px;
        margin-top: 20px;
        > li {
            width: 33.333333%;
            margin: 0;
            > a {
                white-space: nowrap;
                padding: 10px;
                text-align: center;
                color: #fff;
                border: 0;
                &:hover {
                    background-color: transparent;
                }
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &.active > a {
                background-color: $brand-primary;
                > .fa { display: none; }
            }
        }
    }
}

body > footer, body > .footer-navbar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #05374e;
    padding: 10px;
    .img {
        background-size: contain;
        @include square(100%);
    }
}

.message {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background: $brand-primary;
    .times {
        color: #4a86aa;
    }
    .timer {
        color: #a94547;
    }
}
