
@font-face {
    font-family: 'titan';
    src: url('#{$static-url}fonts/TitanOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'greatvibes';
    src: url('#{$static-url}fonts/GreatVibes.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circle';
    src: url('#{$static-url}fonts/CicleFina.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wide';
    src: url('#{$static-url}fonts/DISCO.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacifico';
    src: url('#{$static-url}fonts/Pacifico.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bandasemibold';
    src: url('#{$static-url}fonts/bandasemibold.otf');
    font-weight: normal;
    font-style: normal;
}
