<div class="container global-message hidden">
    <div class="row">
        <div class="col-xs-6 text-left">游戏次数：<span class="times"></span></div>
        <div class="col-xs-6 text-right"><span class="timer">03:00</span></div>
    </div>
</div>
<header class="header-navbar">
    <div class="img logo" data-bg-src="images/fp-logo.gif"></div>
    <ul class="nav nav-pills">
        <li class="active" data-target="Home">
            <a href="#">互动游戏 <i class="fa fa-sort-desc"></i></a>
        </li><li data-target="Instruction">
            <a href="#">活动说明 <i class="fa fa-sort-desc"></i></a>
        </li><li data-target="Ranking">
            <a href="#">排行榜 <i class="fa fa-sort-desc"></i></a>
        </li>
    </ul>
</header>
