<!DOCTYPE html>

{% load static %}

<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>福朋自由派</title>
    
    <meta name="description" content="福朋自由派">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="cleartype" content="on">
    <meta name="CDNURL" content="/static/">
    <meta name="APIHost" content="/api">
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/fp-avatar.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/fp-avatar.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/fp-avatar.jpg">
    <link rel="apple-touch-icon-precomposed" href="/static/images/fp-avatar.jpg">
    <link rel="shortcut icon" sizes="196x196" href="/static/images/fp-avatar.jpg">
    <link rel="shortcut icon" href="/static/images/fp-avatar.jpg">
    
    <meta name="mobile-web-app-capable" content="yes">
    
    <meta name="format-detection" content="telephone=no">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    
    <link rel="stylesheet" href="{% static "stylesheets/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets/dashboard.css" %}">
    
    <script src="{% static "javascripts/vendor/modernizr-2.6.2.min.js" %}"></script>
</head>
<body>

<div id="apploader" class="invisible">
    <div class="loader">
        <div class="loading-sprite"></div>
        <p class="ajax-error hidden">网络不给力啊，请稍后再试！</p>
    </div>
</div>

<div id="sharetip" class="hidden img" data-bg-src="images/tip-weixin.png">
    <!--<button class="btn btn-lg btn-default">关闭提示</button>-->
</div>

<div id="guide-layer" class="hidden img"></div>

<!-- The dashboard begins here -->
{% include "header.html" %}
<div class="views-wrapper img" data-bg-src="images/body-bg.png">
    {% include "pages/home.html" %}
    {% include "pages/region.html" %}
    {% include "pages/city.html" %}
    {% include "pages/question.html" %}
    {% include "pages/score.html" %}
    {% include "pages/instruction.html" %}
    {% include "pages/ranking.html" %}
</div>
<!-- The dashboard ends -->

<script>
    var BOOST = {};
</script>

<script src="{% static "javascripts/vendor/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "javascripts/vendor/underscore.min.js" %}"></script>
<script src="{% static "javascripts/vendor/mustache.min.js" %}"></script>
<script src="{% static "javascripts/vendor/backbone.min.js" %}"></script>
<script src="{% static "javascripts/vendor/bootstrap.min.js" %}"></script>

<script src="{% static "javascripts/plugins/fastclick.js" %}"></script>
<script src="{% static "javascripts/plugins/moment.js" %}"></script>

<script src="{% static "javascripts/amour.js" %}"></script>

<script>
    var require = { callback: function() { require.config({
        baseUrl: '{% static "javascripts/dashboard" %}',
        paths: {},
        shim: {}
    })}};
</script>

<script data-main="{% static "javascripts/dashboard.js" %}" src="{% static "require.js" %}"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52496372-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
