// Core variables and mixins
@import "vars-mixins";

// Main styles
@import "application/layouts";
@import "application/navbar";
@import "application/type";
@import "application/components";


// Page specific styles

#view-home {
    .login-box {
        padding-top: 1px;
        background-color: lighten($brand-primary, 10%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        > form {
            margin: 0 20px;
        }
    }
    .btn-send {
        height: $input-height-base;
    }
    .btn {
        color: darken($brand-primary, 30%);
        background: transparent;
        border-color: transparent;
        border-radius: 0;
    }
    .play-box {
        padding: 20px;
        background-color: lighten($brand-primary, 10%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
}

#view-instruction {
    color: #fff;
    background: rgba(40, 104, 132, 0.7);
}

#view-region {
    padding: 0;
    .city-item {
        position: relative;
        cursor: pointer;
        height: 150px;
        width: 100%;
        padding: 10px 20px;
        color: #fff;
        .title {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
        }
        &.played::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(#{$static-url}images/played-bg.png) no-repeat center;
            background-size: cover;
        }
    }
}

#view-city {
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    > article {
        margin-left: 100px;
        background-color: $brand-primary;
        padding: 20px;
        min-height: 100%;
        @include transition-transform(.35s ease-in-out);
        @include translate3d(100%, 0, 0);
        &.open {
            @include translate3d(0, 0, 0);
            .left-btn {
                @include rotateY(180deg);
            }
        }
        position: relative;
        .left-btn {
            cursor: pointer;
            background-color: $brand-primary;
            &:active {
                background-color: darken($brand-primary, 5%);
            }
            position: absolute;
            width: 30px;
            height: 100%;
            top: 0;
            left: -30px;
            .fa {
                position: relative;
                top: 50%;
                margin-top: -10px;
            }
        }
    }
}

#view-question {
    background-color: rgba(255, 255, 255, 0.5);
}
